@using BALibrary.Inventory;
@using BALibrary.Sales;
@using BALibrary.Purchase;
@inject SchoolERP.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Stock Report";
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";

    var queryResult = ViewBag.queryResult;
    int counter = 0;
    decimal grandTotal = 0;
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    Select sales person and other filters to get what you need to see
                </div>

                <!-- Main content -->
                <div class="">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> MyPharmacy
                                <small class="float-right">Date: <b>@Html.Raw(DateTime.Now)</b></small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>

                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>PRODUCT #</th>
                                        <th>PRODUCT NAME</th>
                                        <th>PRODUCT BATCH NO</th>
                                        <th>PRODUCT TYPE Type</th>
                                        <th>INITIAL QTY</th>
                                        <th>SOLD QTY</th>
                                        <th>CURRENT QTY</th>
                                        <th>WHEN EXPIRE?</th>
                                        <th>MIN ORDER LEVEL</th>
                                        <th>UNDER STOCK?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var idd in queryResult)
                                    {
                                        //grandTotal += idd.InvoiceRowTotal;
                                        <tr>
                                            <td>@Html.Raw(++counter)</td>
                                            <td>@Html.Raw(idd.ProductName)</td>
                                            <td>@Html.Raw(idd.ProductBatchNo)</td>
                                            <td>@Html.Raw(idd.ProductTypeName)</td>
                                            <td>@Html.Raw(idd.InitialQuantity)</td>
                                            <td>@Html.Raw(idd.SoldQuantity)</td>
                                            <td>@Html.Raw(idd.StockBalance)</td>
                                            <td>@Html.Raw(Convert.ToDateTime(idd.ExpirationDate).ToShortDateString())</td>
                                            <td>@Html.Raw(idd.MinimumOrderLevel)</td>
                                            <td>@Html.Raw((idd.UnderStock == "YES" ? "<label class='bagde badge-danger'>YES</label>" : "<label class='bagde badge-success'>NO</label>"))</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-6">
                            <p class="lead">Payment Methods:</p>
                            <label>CASH</label>
                            @*<p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                            plugg
                            dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                            </p>*@
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <p class="lead">Amount Due @Html.Raw(DateTime.Now)</p>

                            @*<div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>@Html.Raw(grandTotal + " ETB")</td>
                                    </tr>
                                    <tr>
                                        <th>Tax (15%)</th>
                                        <td>0.0</td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total:</th>
                                        <td>@Html.Raw(grandTotal + " ETB")</td>
                                    </tr>
                                </table>
                            </div>*@
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="#" onclick="onPrint()" class="btn btn-sm btn-outline-dark"><i class="fas fa-print"></i> Print Report</a>

                            <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right" style="margin-right: 5px;">
                                <i class="fas fa-list"></i> Back to Filter
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


<script>

    function onPrint() {
        window.addEventListener("load", window.print());
    }
</script>