@model BALibrary.Registrar.MarkSheet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MarkSheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPromotion.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
