@model IEnumerable<BALibrary.Academic.GradingRuleGroupDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Academic/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradingRuleGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradingRule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradingRuleGroup.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradingRule.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
