@inject SchoolERP.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Generate Student ID";
    Layout = "~/Areas/Registrar/Views/Shared/_Layout.cshtml";

    int counter = 0;
    var queryResult = ViewBag.queryResult;
}

<h1>@ViewBag.Title</h1>
<h4>Filter @ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <!-- SEARCH FORM -->
        <form asp-action="GenerateIDCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-2">
                    <label class="control-label">ROSTER NAME</label>
                    <select name="AcademicYearId" id="ClassId2" class="form-control" asp-items="ViewBag.academicYears"><option value="-1">Select</option></select>
                </div>
                <div class="col-lg-2">
                    <label class="control-label">SECTION</label>
                    <select name="AcademicYearSectionId" id="SectionId" class="form-control"></select>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label><br />
                    <input type="submit" value="LOAD STUDENTS" class="btn btn-lg btn-flat btn-outline-danger" />
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>

        @if (queryResult != null)
        {
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="ExportCardToPdf" target="_blank">
                        <input type="hidden" value="@ViewBag.academicYearId" name="AcademicYearIdd" />
                        <input type="hidden" value="@ViewBag.academicYearSectionId" name="AcademicYearSectionIdd" />
                        <input type="submit" value="Export CARD to PDF" class="btn btn-flat btn-md btn-outline-danger" />

                        <div class="row">
                            <div class="col-lg-12">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <table id="datatable2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                            <th>
                                                @Html.Raw("ID No")
                                            </th>
                                            <th>
                                                @Html.Raw("Full Name")
                                            </th>
                                            <th>
                                                @Html.Raw("Gender")
                                            </th>
                                            <th>
                                                @Html.Raw("Session")
                                            </th>
                                            <th>
                                                @Html.Raw("Class")
                                            </th>
                                            <th>
                                                @Html.Raw("Section")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in queryResult)
                                        {
                                            <tr>
                                                <td>@Html.Raw(++counter)</td>
                                                <td><input type="checkbox" name="chk_@counter" id="chk_@counter" /></td>
                                                <td>
                                                    @Html.Raw(i.IDNo)
                                                    <input type="hidden" name="StudentPromotionId_@counter" value="@i.StudentPromotionId" />
                                                </td>
                                                <td>@Html.Raw(i.FullName)</td>
                                                <td>@Html.Raw(i.Gender)</td>
                                                <td>@Html.Raw(i.SessionName)</td>
                                                <td>@Html.Raw(i.ClassName)</td>
                                                <td>@Html.Raw(i.SectionName)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                                            <th>
                                                @Html.Raw("ID No")
                                            </th>
                                            <th>
                                                @Html.Raw("Full Name")
                                            </th>
                                            <th>
                                                @Html.Raw("Gender")
                                            </th>
                                            <th>
                                                @Html.Raw("Session")
                                            </th>
                                            <th>
                                                @Html.Raw("Class")
                                            </th>
                                            <th>
                                                @Html.Raw("Section")
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        }
    </div>
</div>