@model BALibrary.Examination.ExamGroupDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Examination/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ExamGroupDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamGroup.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
