@model IEnumerable<BALibrary.Teacher.StudentDisciplinaryAction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionTeacherSubject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPromotion.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionTeacherSubject.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
