@inject IHttpContextAccessor _httpContextAccessor;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-danger">
    <!-- Brand Logo -->
    <a href="/" class="brand-link bg-danger">
        <img src="~/dist/img/AdminLTELogo.png" alt="SchoolERP" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">SchoolERP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-host-resize-disabled os-host-transition os-host-overflow os-host-overflow-y os-host-scrollbar-horizontal-hidden os-theme-dark">

        @Html.Partial("_CurrentUserPanel")

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-compact nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Lookups
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "Periods", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Periods" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Periods</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "Relationships", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Relationships" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Relationships</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Students
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "Students", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Students" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Student Information</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "StudentPromotions", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="StudentPromotions" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Student Promotions</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Mark Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "MarkSheets", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="MarkSheets" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Enter Exam Marks</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "MarkSheets", "MarkSummaryPerSubject"))
                        {
                            <li class="nav-item">
                                <a asp-controller="MarkSheets" asp-action="MarkSummaryPerSubject" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Mark Summary Per Subject</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Roster & Grade Report
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "MarkSheets", "GenerateSemesterRoster"))
                        {
                            <li class="nav-item">
                                <a asp-controller="MarkSheets" asp-action="GenerateSemesterRoster" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Generate Semester Roster</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "MarkSheets", "GenerateAnnualRoster"))
                        {
                            <li class="nav-item">
                                <a asp-controller="MarkSheets" asp-action="GenerateAnnualRoster" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Generate Annual Roster</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Teachers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "SectionTeacherSubjects", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="SectionTeacherSubjects" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assign Teacher to Sections</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Time Tables
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "TimeTables", "Index"))
                        {
                            <li class="nav-item">
                                <a asp-controller="TimeTables" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Timetables</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "TimeTables", "TeacherTimeTables"))
                        {
                            <li class="nav-item">
                                <a asp-controller="TimeTables" asp-action="TeacherTimeTables" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Teacher Timetables</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            ID Card
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "Students", "GenerateIDCard"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Students" asp-action="GenerateIDCard" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Print Student ID</p>
                                </a>
                            </li>
                        }
                        @if (Common.isAuthorized(Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId)), Common.GetModuleText(Common.ModuleName.REGISTRAR), "Employees", "PrintIDCard"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="PrintIDCard" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Print Staff ID</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Registrar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Registrar</a></li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- CONTAINER -->
            <div class="card card-outline card-danger" style="padding-left:10px;padding-right:10px;">
                <div class="card-header">
                    <h3 class="card-title">Welcome: <span class="badge badge-info">@Html.Raw(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserEmail))</span></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    @RenderBody()
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<input type="hidden" id="messageType" value="@_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyMessageType)" />
<input type="hidden" id="message" value="@_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyMessage)" />

@section Scripts{
    <script type="text/javascript">

        function loadSections(cid) {
            $.ajax({
                type: "post",
                data: { cid: cid },
                url: "/Academic/AcademicYears/GetClassSections",
                dataType: 'json',
                success: function (response) {
                    $("#SectionId").append("<option value='-1'>Select</option>");
                    $.each(response, function (i, section) {
                        $("#SectionId").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });

                    $("#SectionId3").append("<option value='-1'>Select</option>");
                    $.each(response, function (i, section) {
                        $("#SectionId3").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });

                    loadSubjects(cid);
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        function loadSubjects(cid) {
            $.ajax({
                type: "post",
                data: { cid: cid },
                url: "/Academic/AcademicYears/GetClassSubjects",
                dataType: 'json',
                success: function (response) {
                    $("#SubjectId").append("<option value='-1'>Select</option>");
                    $.each(response, function (i, section) {
                        $("#SubjectId").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });

                    loadExams(cid);
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        function loadExams(cid) {
            $.ajax({
                type: "post",
                data: { cid: cid },
                url: "/Academic/AcademicYears/GetClassExams",
                dataType: 'json',
                success: function (response) {
                    $("#ExamId").append("<option value='-1'>All</option>");
                    $.each(response, function (i, section) {
                        $("#ExamId").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        function loadClasses(year) {
            $.ajax({
                type: "post",
                data: { year: year },
                url: "/Academic/AcademicYears/GetYearClasses",
                dataType: 'json',
                success: function (response) {
                    $("#ClassId2").append("<option value='-1'>All</option>");
                    $.each(response, function (i, section) {
                        $("#ClassId2").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });

                    $("#ClassId3").append("<option value='-1'>All</option>");
                    $.each(response, function (i, section) {
                        $("#ClassId3").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        function loadClasses2(sid) {
            $.ajax({
                type: "post",
                data: { sid: sid },
                url: "/Academic/AcademicYears/GetSessionClasses",
                dataType: 'json',
                success: function (response) {
                    $("#ClassId4").append("<option value='-1'>All</option>");
                    $.each(response, function (i, section) {
                        $("#ClassId4").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        function loadSections2(cid) {
            $.ajax({
                type: "post",
                data: { cid: cid },
                url: "/Academic/AcademicYears/GetClassSections2",
                dataType: 'json',
                success: function (response) {
                    $("#SectionId4").append("<option value='-1'>Select</option>");
                    $.each(response, function (i, section) {
                        $("#SectionId4").append("<option value='" + section.value + "'>" + section.text + "</option>");
                    });
                },
                failure: function (response) {
                    alert("failure!");
                },
                error: function (response) {
                    alert("Session expired! Please login again.");
                }
            });
        }

        $(function () {
            $("#Year").change(function () {
                $("#ClassId").empty();
                $("#ClassId2").empty();
                $("#ClassId3").empty();
                $("#SectionId").empty();
                $("#SectionId3").empty();
                var year = $("#Year").val();

                loadClasses(year);
            });

            $("#ClassId").change(function () {
                $("#SectionId").empty();
                var cid = $("#ClassId").val();

                loadSections(cid);
            });

            //for mark sheet page
            $("#ClassId2").change(function () {
                $("#SectionId").empty();
                $("#SubjectId").empty();
                $("#ExamId").empty();
                var cid = $("#ClassId2").val();

                loadSections(cid);
            });

            //for mark sheet page
            $("#ClassId3").change(function () {
                $("#SectionId3").empty();
                var cid = $("#ClassId3").val();

                loadSections(cid);
            });

            //for annual grade report page
            $("#SessionId").change(function () {
                $("#ClassId4").empty();
                var sid = $("#SessionId").val();

                loadClasses2(sid);
            });

            //for annual grade report page
            $("#ClassId4").change(function () {
                $("#SectionId4").empty();
                var cid = $("#ClassId4").val();

                loadSections2(cid);
            });

            var messageTypeItem = document.getElementById("messageType");
            var messageItem = document.getElementById("message");

            if (messageTypeItem.value == "success")
                toastr.success(messageItem.value, "Success Message");
            else if (messageTypeItem.value == "error")
                toastr.error(messageItem.value, "Error Message");
            else if (messageTypeItem.value == "info")
                toastr.info(messageItem.value, "Info Message");
            else if (messageTypeItem.value == "warning")
                toastr.warning(messageItem.value, "Warning Message");
        });

    </script>
}