@model BALibrary.Teacher.StudentLeave

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StudentLeave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPromotion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionTeacherSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionTeacherSubject.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
