@model BALibrary.Registrar.MarkSheetDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Registrar/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MarkSheetDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamGroupDetailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamGroupDetailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPassed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPassed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkSheet.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
